<form [formGroup]="updateForm" class="flex flex-col text-[#0009]">
    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label class="text-xs text-[#0009]">Name</mat-label>
            <input type="text" matInput formControlName="nameFormControl" placeholder="john Doe">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error> -->
            <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label class="text-xs text-[#0009]">Username</mat-label>
            <input type="text" matInput formControlName="usernameFormControl" placeholder="Benchol">
        </mat-form-field>
    </div>
    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label class="text-xs text-[#0009]">Wallet</mat-label>
            <input type="number" matInput formControlName="walletFormControl">
        </mat-form-field>
    </div>

    <div class="flex items-center justify-center w-full h-fit">
        <span class="flex py-2 px-6 text-sm bg-rose-500 rounded-lg">Enregistrer les modifications</span>
    </div>
</form>