.container-not-found {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(253, 50, 80);
    background: linear-gradient(90deg, rgba(253, 50, 80, 1) 13%, rgba(252, 108, 56, 1) 53%, rgba(250, 161, 37, 1) 83%);
    // filter: blur(5px);
}