<div class="footer-content flex justify-center bg-[#D1D1D1] text-xs mt-6 pt-4 pb-8">
    <div class="h-full flex pl-10  flex-col w-1/4">
        <h2 class="text-sm font-medium my-2">Besoin d' aide?</h2>
        <div class="flex flex-col">
            <div class="flex text-[#212121] my-1 text-xs">Contactez nous</div>
            <div class="flex text-[#212121] my-1 text-xs">Questions frequents</div>
            <div class="flex text-[#212121] my-1 text-xs">Suivre une commande</div>
            <div class="flex text-[#212121] my-1 text-xs">Nos conditions de livraison</div>
        </div>
    </div>
    <div class="h-full flex pl-10 items-start justify-start flex-col w-1/4">
        <h2 class="text-sm font-medium my-2">À propos de Karoka</h2>
        <div class="flex flex-col">
            <div class="flex text-[#212121] my-1 text-xs">Qui somme nous</div>
            <div class="flex text-[#212121] my-1 text-xs">Si bien ensemble</div>
            <div class="flex text-[#212121] my-1 text-xs">L' espace Presse</div>
            <div class="flex text-[#212121] my-1 text-xs">Nos services</div>
            <div class="flex text-[#212121] my-1 text-xs">Nos marques Karoka</div>
            <div class="flex text-[#212121] my-1 text-xs">L' espace fidelité</div>
            <div class="flex text-[#212121] my-1 text-xs">Fondation Karoka</div>
        </div>
    </div>
    <div class="h-full flex pl-10 items-start justify-center flex-col w-1/4">
        <h2 class="text-sm font-medium my-2">informations légales</h2>
        <div class="flex flex-col">
            <div class="flex text-[#212121] my-1 text-xs">Nos conditions de vente</div>
            <div class="flex text-[#212121] my-1 text-xs">Les garanties</div>
            <div class="flex text-[#212121] my-1 text-xs">Mentions légales</div>
            <div class="flex text-[#212121] my-1 text-xs">Données personnelles</div>
            <div class="flex text-[#212121] my-1 text-xs">Utilisation des cookies</div>
            <div class="flex text-[#212121] my-1 text-xs">Les avis en ligne</div>
            <div class="flex text-[#212121] my-1 text-xs">Lutte contre la corruption</div>
        </div>
    </div>
    <div class="h-full flex pl-10 items-start justify-start flex-col w-1/4">
        <h2 class="text-sm font-medium my-2">Réjoinez-nous</h2>
        <div class="flex flex-col">
            <div class="flex text-[#212121] my-1 text-xs">Nos offres d' emploi</div>
            <div class="flex text-[#212121] my-1 text-xs">Devenir franchisé Karoka</div>
            <div class="flex text-[#212121] my-1 text-xs">Devenir affilié Karoka</div>
            <div class="flex text-[#212121] my-1 text-xs">La place de marché</div>
        </div>
    </div>
</div>