<div class="flex flex-col w-screen overflow-x-hidden">
    <div class="flex flex-col w-1/4">
        <h2>Besoin d' aide?</h2>
        <div class="flex">Contactez nous</div>
        <div class="flex">Questions frequents</div>
        <div class="flex">Suivre une commande</div>
        <div class="flex">Nos conditions de livraison</div>
    </div>
    <div class="flex flex-col w-1/4">
        <h2>À propos de Karoka</h2>
        <div class="flex">Qui somme nous</div>
        <div class="flex">Si bien ensemble</div>
        <div class="flex">L' espace Presse</div>
        <div class="flex">Nos services</div>
        <div class="flex">Nos marques Karoka</div>
        <div class="flex">L' espace fidelité</div>
        <div class="flex">Fondation Karoka</div>
    </div>
    <div class="flex w-1/4">
        <h2>informations légales</h2>
        <div class="flex">Nos conditions de vente</div>
        <div class="flex">Les garanties</div>
        <div class="flex">Mentions légales</div>
        <div class="flex">Données personnelles</div>
        <div class="flex">Utilisation des cookies</div>
        <div class="flex">Les avis en ligne</div>
        <div class="flex">Lutte contre la corruption</div>
        <div class="flex"></div>
    </div>
    <div class="flex w-1/4">
        <h2>Réjoinez-nous</h2>
        <div class="flex">Nos offres d' emploi</div>
        <div class="flex">Devenir franchisé Karoka</div>
        <div class="flex">Devenir affilié Karoka</div>
        <div class="flex">La place de marché</div>
    </div>
</div>