.search-bar {
    input {
        border: 1px solid black;
        &:focus-visible {
            border: 1px solid black;
            outline: none;
        }
    }
}

::ng-deep .p-breadcrumb {
    width: 80%;
    margin: 12px;
    font-size: 12px;
    border: none;
    padding: 1rem 0 0.5rem 0;
    border-bottom: 1px dashed;
    border-radius: 0;
    // border-top: 1px solid;
}